@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
    --colorbg: rgb(246, 241, 241);
    --colortitle: rgb(25, 167, 206);
    --colortext: rgb(0, 0, 0); 
    --secondcolor: rgb(20, 108, 148);
    --borderset: 1px solid black;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar{
    border: var(--borderset);
    width: 500px;
    height: 100vh;
}