@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
    --colorbg: rgb(246, 241, 241);
    --colortitle: rgb(25, 167, 206);
    --colortext: rgb(0, 0, 0); 
    --secondcolor: rgb(20, 108, 148);
    --borderset: 1px solid black;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--colorbg);
    height: 100vh;
    overflow: hidden;
}

/* bg */
.bg img{
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px 0 100px;
    padding-top: 30px;
}

nav .logo{
    font-size: 30px;
    font-weight: bold;
    color: var(--colorbg);
    cursor: default;
    background-color: var(--colortitle);
    border-radius: 50%;
}

nav .links a{
    color: black;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
}

nav .links a:nth-child(3){
    margin-right: 0;
}

nav .links a:hover{
    color: var(--colortitle);
}

nav .sign-in a{
    font-size: 18px;
    color: var(--colortitle);
    border: 2px solid var(--colortitle);
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 500;
}

nav .sign-in a:hover{
    color: var(--colorbg);
    background-color: var(--colortitle);
    box-shadow: 0 2px 10px var(--secondcolor);
}

nav .links .active{
    color: var(--colortitle);
}

/* container content */
.container-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 130px;
    overflow: hidden;
    position: relative;
    height: 100%;
    margin-top: 30px;
}

/* Box Content */
.box-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 100%;
    opacity: 0;
    transition: top 1s ease, opacity 1s ease;
}

.slide{
    opacity: 1;
    top: 0;
}

.box-content .text-content{
    width: 50%;
}

.box-content .text-content h1{
    font-size: 42px;
    margin-bottom: 20px;
}

.box-content .text-content h1 span{
    color: var(--colortitle);
}

.box-content .text-content p{
    text-align: justify;
    width: 88%;
}

.box-content .text-content p span{
    font-weight: bold;
    font-style: italic;
}

.box-content .image-content img{
    width: 500px;
    position: relative;
    bottom: 0;
    animation: updown 3s linear infinite;
}

@keyframes updown{
    50%{
        position: relative;
        bottom: 20px;
    }
}

/* Page ahp dan about */
.content-ahp, .content-about{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    margin: 50px 130px 0 130px;
}

.content-ahp .judul, .content-about .judul{
    display: flex;
    align-items: center;
}

.content-ahp .judul h1, .content-about .judul h1{
    font-size: 24px;
    font-style: italic;
}

.kotak{
    width: 25px;
    height: 25px;
    background-color: var(--colortitle);
    margin: 0 20px;
}

.content-ahp .text-content-ahp{
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(239, 240, 243, 0.5);
    box-shadow: 0 3px 5px black;
    border-radius: 20px;
}

.content-ahp .text-content-ahp span{
    font-weight: bold;
    font-style: italic;
}

.content-ahp .text-content-ahp p{
    text-align: justify;
    text-indent: 30px;
}

.content-ahp .text-content-ahp p:nth-child(1){
    margin-bottom: 20px;
}

.content-ahp .text-content-ahp .img-school{
    text-align: center;
}

.content-ahp .text-content-ahp .img-school img{
    width: 300px;
    border-radius: 20px;
}

.content-about .text-content-about{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(239, 240, 243, 0.5);
    box-shadow: 0 3px 5px black;
    border-radius: 20px;
}

.content-about .text-content-about .img-school{
    margin-right: 30px;
}

.content-about .text-content-about .img-school img{
    width: 300px;
}

.content-about .text-content-about .text-isi h1{
    text-align: center;
    margin-bottom: 20px;
    color: var(--colortitle);
}

.content-about .text-content-about .text-isi p{
    text-align: justify;
    text-indent: 30px;
}