@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
    --colorbg: rgb(246, 241, 241);
    --colortitle: rgb(25, 167, 206);
    --colortext: rgb(0, 0, 0); 
    --secondcolor: rgb(20, 108, 148);
    --borderset: 1px solid black;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    overflow: hidden;
}

.bg-login{
    position: absolute;
    z-index: -1;
}

.bg-login img{
    width: 100%;
    filter: blur(10px);
}

.container-login{
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
    height: 100vh;
    margin: 0 100px;
}

.container-login .welcome img{
    width: 500px;
}

.container-login .kotak-login{
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--colorbg);
    box-shadow: 2px 2px 10px #000;
}

.container-login .kotak-login .kotak-isi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    width: 350px;
    height: 350px;
    box-sizing: border-box;
}

.container-login .kotak-login .judul{
    text-align: center;
    color: var(--colortitle);
}

input::placeholder{
    color: #252525;
}

.container-login .kotak-login .input input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background: none;
    padding: 10px 0 10px 45px;
    width: 100%;
}

.container-login .kotak-login .input .input-username{
    margin-bottom: 20px;
    position: relative;
}

.container-login .kotak-login .input .input-password{
    position: relative;
}

.container-login .kotak-login .btn-login{
    text-align: center;
}

.container-login .kotak-login .btn-login button{
    outline: none;
    border: none;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--colortitle);
    font-weight: bold;
    color: var(--colorbg);
    cursor: pointer;
}

.container-login .kotak-login .btn-login button:hover{
    background-color: var(--secondcolor);
}

.icon{
    position: absolute;
    top: 12px;
    left: 15px;
}

/* ERROR */
.container-login .kotak-login .error-login{
    text-align: center;
    font-size: 12px;
    padding: 5px;
    background-color: rgb(255, 86, 86);
    color: var(--colorbg);
    font-weight: bold;
}