:root{
    --colorbg: rgb(246, 241, 241);
    --colortitle: rgb(25, 167, 206);
    --colortext: rgb(0, 0, 0); 
    --secondcolor: rgb(20, 108, 148);
    --borderset: 1px solid black;
}

.main-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--colorbg);
    margin-left: 250px;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

.content{
    margin: 30px;
    box-sizing: border-box;

}

/* Header Dashboard */
.main-content .content .header{
    padding: 50px;
    box-sizing: border-box;
    background-color: rgb(233, 233, 233);
}

.main-content .content .header h1{
    font-size: 60px;
}

/* Output Konten */
.main-content .content .navigasi{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: rgb(233, 233, 233);
}

.main-content .content .navigasi a{
    color: var(--colortitle);
    margin-right: 5px;
}

.main-content .content .navigasi span{
    margin-right: 5px;
}

.main-content .content .judul-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.main-content .content .text-judul{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-content .content .text-judul .icon{
    font-size: 30px;
}

.main-content .content .btn-judul{
    display: flex;
    align-items: center;
}

button{
    outline: none;
    border: none;
}

.main-content .content .btn-judul .btn-hapus button, .btn-input .btn-simpan button{
    background-color: var(--secondcolor);
    padding: 15px 20px;
    cursor: pointer;
    color: var(--colorbg);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-content .content .btn-judul .btn-tambah button, .btn-input .btn-kembali button{
    background-color: var(--colortitle);
    padding: 15px 20px;
    cursor: pointer;
    color: var(--colorbg);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.main-content .content .btn-judul button:hover, .btn-input .btn-simpan button:hover, .btn-input .btn-kembali button:hover{
    background-color: red;
    transition: all ease-in .2s;
}

.tabel{
  border: 5px solid red;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
  }
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  th {
    background-color: rgb(233, 233, 233);
  }
  tr:nth-child(even) {
    background-color: rgb(233, 233, 233);
  }

  /* Input Konten */
  .main-content .content .box-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: var(--borderset);
    padding: 15px;
    box-sizing: border-box;
    margin-top: 20px;
    gap: 10px;
  }

  .main-content .content .box-input .row{
    display: flex;
  }

  .main-content .content .box-input .kotak-input{
    width: 33.3%;
  }

  .main-content .content .box-input .kotak-isi{
    width: 90%;
  }

  .main-content .content .box-input .kotak-input .kri{
    width: 100%;
  }

  .main-content .content .box-input .kotak-input input.colbox{
    outline: none !important;
  }

  .main-content .content .box-input .input{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

   input, select{
    padding: 7px;
  }

  .btn-input{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .main-content .content .tabel .btn-aksi{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .btn-aksi .btn-aksi-edit a, .btn-aksi .btn-aksi-detail a{
    background-color: var(--colortitle);
    padding: 5px;
    color: var(--colorbg);
  }

  .btn-aksi .btn-aksi-hapus a{
    background-color: var(--colortitle);
    padding: 5px;
    color: var(--colorbg);
    transition: all ease-in .2s;
  }

  .btn-aksi .btn-aksi-hapus a:hover{
    background-color: red;
    transition: all ease-in .2s;
  }

  .btn-aksi .btn-aksi-edit a:hover, .btn-aksi .btn-aksi-detail a:hover{
    background-color: green;
    transition: all ease-in .2s;
  }


/* footer */
.footer{
    box-sizing: border-box;
    margin: 20px;
    text-align: center;
}